defs/phaser.d.ts
assets/img/backgrounds/dungeonBG.xcf
jsconfig.json
doto
assets/img/UI/white — копия.png
assets/img/backgrounds/dungeonBG — копия.jpg
assets/img/backgrounds/BG01.png
assets/img/UI/red — копия.png
assets/img/characters/dungeonBGDown.xcf
assets/img/characters/Enemy01.xcf
assets/img/characters/Player01.xcf
assets/img/characters/Player01 — копия.png
assets/img/characters/Enemy01 — копия.png
assets/img/items/backpack.png
assets/img/items/potionHealth.png
assets/img/items/potionMana.png
